@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==========CSS RESET========== */

* {
  margin: 0;
  box-sizing: border-box;
}

input,
button,
label {
  font: inherit;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* ==========Layout Settings========== */

body {
  font-family: "Poppins", Roboto, serif, sans-serif;
  display: grid;
  grid-template-areas: "side header"
                       "side main";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 160px 1fr;
  height: 100%;
  color: white;
}

.sidebar {
  grid-area: side;
  background-color: #282828;

}

.header {
  grid-area: header;
  background-color: #333333;
}

.main-content {
  grid-area: main;
  background-color: #3f3f3f;
}

/* ==========Sidebar CSS========== */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.side-header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 16px;
  margin-left: 16px;
  img {
    width: 3rem;
    height: auto;
  }
  h1 {
    font-size: 1.5rem;
  }
  &:hover {
    cursor: pointer;
  }
}

.side-child {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 8px 24px;
  h3 {
    font-weight: 500;
  }
  img {
    width: 25px;
    height: auto;
  }
}