@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==========CSS RESET========== */

* {
  margin: 0;
  box-sizing: border-box;
}

input,
button,
label {
  font: inherit;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* ==========Layout Settings========== */

body {
  font-family: "Poppins", Roboto, serif, sans-serif;
  display: grid;
  grid-template-areas: "side header"
                       "side main";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 160px 1fr;
  height: 100%;
  background: #333333;
  color: white;
}

.sidebar {
  grid-area: side;
  /*background-color: #282828;*/
  background-color:#313244;
}

.header {
  grid-area: header;
  /*background-color: #333333;*/
  background-color: #45475a;
}

.main-content {
  grid-area: main;
  /*background-color: #3f3f3f;*/
  background-color: #1e1e2e;
}

/* ==========Sidebar CSS========== */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.side-header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 16px;
  margin-left: 16px;
  img {
    width: 3rem;
    height: auto;
  }
  h1 {
    font-size: 1.5rem;
  }
  &:hover {
    cursor: pointer;
  }
}

.side-child {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 8px 24px;
  h3 {
    font-weight: 500;
  }
  img {
    width: 25px;
    height: auto;
  }
  &:hover {
    cursor: pointer;
    background-color: #222222;
  }
}

/* ==========Header CSS========== */

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.top-header-section {
  display: grid;
  grid-template-columns: max(80%, 10rem) 1fr;
  padding: 16px 2rem;
}

.top-left,
.top-left > label {
  display: flex;
}

.top-left > label {
  width: 80%;
  align-items: center;
  gap: 16px;
}

#search-box {
  appearance: none;
  height: 35px;
  width: 90%;
  border: none;
  border-radius: 26px;
  background-color:#6c7086;
  padding: 1px 14px;
  font-size: 14px;
  color: white;
  box-shadow: none;
  &:focus {
    background-color:#585b70;
    border: 1px solid grey;
  }
  &::-webkit-search-cancel-button {
    position: relative;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: url("/assets/clear.svg") no-repeat;
    background-size: contain;
    opacity: 0.7;
  }
}

.top-left > img {
  margin-right: 24px;
}

.top-left {
  justify-content: space-between;
}

.top-right {
  display: flex;
  gap: 25px;
  align-items: center;
  font-weight: 600;
}

.profile-container.small {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: 2px solid white;
}

.bottom-header-section {
  display: grid;
  grid-template-columns: max(60%, 10rem) 1fr;
  padding: 0 2rem;
}

.bottom-left {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header-text {
  p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
  h4 {
    font-weight: 700;
    margin-top: -5px;
    font-size: 1.5rem;
  }

}

.profile-container.medium {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 2px solid white;
  
}

.bottom-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  padding: 6px;
  width: 6rem;
  border-radius: 2rem;
  border: none;
  box-shadow: none;
  background-color: #74c7ec;
}
